 /*
 * Base structure
 */

 body {
/*	padding-top: 54px;*/
	color:#333;
}
/*
@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}
*/

body {
	font-family: 'roboto', sans-serif;
}
h1 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}

h2, h3 {color: #256497;}

h2.block-heading {
	border-left:#2C6692 solid 10px;
	margin-bottom: 20px;
	background-color: #E9F7FC;

}
h2.block-heading span {padding-left:5px;

}



/*-------Nav/Header--------*/
.disclaimer-bar {
    height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #ffffff;
    background-color: #256496;
    font-size: 1rem;
    text-align: right;
    margin-bottom:10px;
}


.red {
	background-color: #b22d27
}
.redf {
	color: #b22d27
}
.blue {
	background-color: #00b4e6
}
.bluef {
	color: #00b4e6
}
.green {
	background-color: #5d9732
}
.greenf {
	color: #5d9732
}
.dkblue {
	background-color: #256496
}
.dkbluef {
	color: #256496
}
.bg-dark {
	background-color: #333!important;
}
.bg-darkf {
	color: #333!important;
}
@media only screen and (min-width: 990px) {
	nav li {
		width: calc(100% / 4);
	}
}
nav li {
	font-size: 18px;
	font-weight: 700;
	padding-right: 5px;
}
nav li a:hover {
	color: #fff;
	opacity: 1
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1.0);
}

.dropdown-toggle::after {
       border-top: .6em solid;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .5em solid transparent;
}


/*-------Footer--------*/

.footer-copyright {
	background-color: #0073AE;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.footer-copyright a {
	color: #ffffff;
	font-weight: 700
}


.footer-partners {
	font-size: 12px;
	line-height: 14px;
	  padding: 20px 0 0;
	      border: 15px #0073AE solid;
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.col-centered {
		float: none;
		margin: 0 auto;
	}
}
.col-align {
	float: none;
	display: inline-block;
}
.col-align--top {
	vertical-align: top;
}
.col-align--center {
	vertical-align: middle;
}


.huge {
	font-size: 50px;
	padding: 10px;
}

.card {margin-bottom:10px;}


svg {cursor: pointer;}

.accordion .btn-link::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid currentColor;
  margin-left: auto;
  transition: transform 0.2s ease;
}

.accordion .btn-link[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

#stateHolder > div { display: none; }
#stateHolder div.stateDisplay {display: block; }
#stateHolder div.stateCompare, .block-content-glider {
display: block;
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 8px;
    border: 1px solid #5157AD;
        width: 80%;
}