 <section id="footer">

        <div class="footer-copyright">
            <div class="container-fluid">
                <div class="row copyright">
                    <div class="col-md-3 col-sm-12 col-align col-align--center">
                        <p>
                            <a href="http://communityinclusion.org"><img alt="ICI/UMASS logo" class="img-responsive" src="{{ site.baseurl}}/assets/combo_logo-200x110.png" /></a>
                        </p>
                    </div>
                    <!--
        -->
                    <div class="col-md-5 col-sm-12 footer-copyright-title col-align col-align--center">
                        <p>©2018<strong>&nbsp;<a href="http://communityinclusion.org">Institute for Community Inclusion</a></strong> at the University of Massachusetts Boston.</p>
                    </div>
                    <!--
        -->
                    <div class="col-md-4 col-sm-12 col-align col-align--center">
                        <a href="{{ site.baseurl}}/about">ABOUT</a> &nbsp; | &nbsp; <a href="/accessibility-statement">ACCESSIBILITY</a> &nbsp; | &nbsp; <a href="/contact">CONTACT</a></div>
                </div>
            </div>
        </div>


    </section>