<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CATADA.INFO {{ page.title }}</title>

     <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-multiselect.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300italic,300,400italic" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 <link href="{{ site.baseurl }}/css/accessible-tooltip.css" rel="stylesheet" type="text/css">

    <link href="{{ site.baseurl }}/css/dashboard.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous" type="text/javascript">
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous" type="text/javascript">
</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/catada_charts.js">
</script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap-multiselect.js">
</script>
<script type="text/javascript" src="js/jquery-accessible-simple-tooltip-aria.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

    <!-- Custom styles for this template -->
    <style>

    </style>

</head>