  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav nav-fill w-100 ">

                <li class="nav-item dropdown">

                    <a class="nav-link red dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">DATA <br /><img src="{{ site.baseurl }}/assets/data-icon.png" /></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/at">Custom Charts and Tables</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/at?report=summary">Key Summary Tables</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/at?report=download">Raw Data Files</a>
                         <a class="dropdown-item" href="{{ site.baseurl }}/aggregate-apr-data">Aggregate APR Data</a>





                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link blue dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">AT IN ACTION<br /><img src="{{ site.baseurl }}/assets/at-icon.png" /></a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/innovative-program-ideas">Innovative Program Ideas</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/effective-state-practices">Effective State Practices</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/stories-from-the-field">Stories From the Field</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link green dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">RESOURCES<br /><img src="{{ site.baseurl }}/assets/resources-icon.png" /></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ site.baseurl }}/catada-publications">CATADA Publications</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/federal-reporting-forms">Federal Reporting Forms</a>
                           <a class="dropdown-item" href="{{ site.baseurl }}/training-materials">Training Materials</a>
                         <!-- <a class="dropdown-item" href="{{ site.baseurl }}/chart-tool-tutorials">Chart Tool Tutorials</a> -->



                    </div>



                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dkblue dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/#" role="button" aria-haspopup="true" aria-expanded="false">STATE PROGRAM INFO<br /><img src="{{ site.baseurl }}/assets/program-icon.png" /></a>

                    <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ site.baseurl }}/state.html">State Program Information</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/program-participation">Program Participation</a>



                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

