<!DOCTYPE html>
<html class="no-js" lang="en">

    {% include chart_head.html %}

<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWJDP4K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    {% include banner.html %}

    {% include nav.html %}

    <!-- Page Content -->



{{ content }}



    {% include footer.html %}

    <!-- ./Footer -->


</body>


</html>
